.mi-timeline .vis-item {
 font-size: 10px;
}

.mi-timeline .vis-group {
 font-size: 16px;
}

.mi-timeline .vis-tooltip {
 font-size: 13px;
}

/* 🚚 viaje */
.mi-timeline .vis-item.viaje {
 background-color: #28a745;
 border-color: #28a745;
 color: white;
}

/* 🔧 taller */
.mi-timeline .vis-item.taller {
 background-color: #ffc107;
 border-color: #ffc107;
 color: black;
}

.mi-timeline .vis-item.asignacion {
 background-color: #00a2ff;
 border-color: #00a2ff;
 color: rgb(255, 255, 255);
}