.mi-timeline .vis-item {
 font-size: 10px;
}

.mi-timeline .vis-group {
 font-size: 16px;
}

.mi-timeline .vis-tooltip {
 font-size: 13px;
}

/* 🚚 viaje */
.mi-timeline .vis-item.viaje {
 background-color: #28a745;
 border-color: #28a745;
 color: white;
}

/* 🔧 taller */
.mi-timeline .vis-item.taller {
 background-color: #ffc107;
 border-color: #ffc107;
 color: black;
}

.mi-timeline .vis-item.asignacion {
 background-color: #ececec;
 border-color: #ececec;
 color: black;
}

.mi-timeline .vis-item.permiso {
 background-color: #0099ff;
 border-color: #0099ff;
 color: white;
}

.mi-timeline .vis-item {
 border-radius: 8px;
 color: white;
}

.grupo-row {
 padding: 6px;
 border-radius: 6px;
}

.grupo-movedor {
 background-color: #00ff4c1c !important;
 color: white;
}

.grupo-operador {
 background-color: #0077ff1c !important;
 color: white;
}

.grupo-local {
 background-color: #00ff4c1c !important;
 color: white;
}

.grupo-carretera {
 background-color: #0077ff1c !important;
 color: white;
}