@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
}

.custom-range-picker-popup {
  z-index: 2000 !important;
  /* o más alto según tu modal */
}

.swal2-container {
  z-index: 20000 !important;
}

.rs-picker-daterange-menu {
  z-index: 2000 !important;
  /* Asegúrate de que esté por encima del MUI Dialog */
}

/* Estilo minimalista para la scrollbar */
::-webkit-scrollbar {
  width: 12px;
  /* Ancho de la scrollbar */
  height: 12px;
  /* Alto de la scrollbar horizontal */
}

::-webkit-scrollbar-track {
  background: transparent;
  /* Fondo del track transparente */
  margin: 2px;
  /* Margen alrededor del track para separación */
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
  /* Thumb oscuro pero translúcido */
  border-radius: 10px;
  /* Bordes redondeados */
  border: 2px solid transparent;
  /* Espacio alrededor del thumb */
  background-clip: padding-box;
  /* Clip para crear separación */
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.4);
  /* Thumb un poco más oscuro al pasar el mouse */
}

.ant-image-preview-wrap {
  z-index: 200000 !important;
  position: relative;
  /* O un valor superior según el contexto */
}

.ant-image-preview-mask {
  z-index: 200000 !important;
  position: relative;
}

.grid-container {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(8, 1fr);
  /* Escritorio */

  /* En pantallas pequeñas, 2 columnas */
  @media (max-width: 600px) {
    grid-template-columns: repeat(2, 1fr);
  }
}